{% load i18n %}
<table>
    <thead>
        <tr>
            <th>{% trans 'Time' %}&nbsp;(ms)</th>
            <th>{% trans 'Backend Alias' %}</th>
            <th>{% trans 'Query' %}</th>
            <th>{% trans 'Kwargs' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for query in queries %}
            <tr class="{% cycle 'djDebugOdd' 'djDebugEven' %}">
                <td>{{ query.time }}</td>
                <td>{{ query.alias }}</td>
                <td class="syntax">
                    <div class="djDebugSqlWrap">
                        <div class="djDebugSql">{{ query.query_string|safe }}</div>
                        <span class="djDebugLineChart{% if query.is_slow %} djDebugLineChartWarning{% endif %}" style="width:{{ query.width_ratio }}%; left:{{ query.start_offset }}%;"></span>
                    </div>
                </td>
                <td>
                {% if query.additional_kwargs %}
                    {{ query.additional_kwargs }}
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
